*{
    box-sizing: border-box;
}

body{
    margin: 0;

}
.header-wrapper{
    height: 44px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
}

.navegation{
    .menu-checkbox{
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }
    .close{
      display: none;
    }
    .menu-checkbox:checked ~ .label{
        .hamburger{
            display: none;
        }
        .close{
            display: block;
        }
    }
    

}
